# Function to calculate total marks and grade

In [1]:
import csv

In [2]:
def calculate_grade(marks):
    total_marks = sum(marks)
    per = total_marks / len(marks)

    if per >= 90:
        grade = 'A+'
    elif 80 <= per < 90:
        grade = 'A'
    elif 70 <= per < 80:
        grade = 'B'
    elif 60 <= per < 70:
        grade = 'C'
    else:
        grade = 'F'

    return total_marks, grade

# Create a result table and enter student details
result_table = []
for i in range(1, 11):
    student_id = i
    student_name = input(f"Enter Student {i}'s Name: ")
    subject_marks = []
    for j in range(5):
        subject_marks.append(int(input(f"Enter marks for Subject {j + 1}: ")))

    total_marks, grade = calculate_grade(subject_marks)

    result_table.append([student_id, student_name] + subject_marks +[total_marks, grade])

Enter Student 1's Name: om
Enter marks for Subject 1: 78
Enter marks for Subject 2: 88
Enter marks for Subject 3: 81
Enter marks for Subject 4: 56
Enter marks for Subject 5: 76
Enter Student 2's Name: sai
Enter marks for Subject 1: 77
Enter marks for Subject 2: 78
Enter marks for Subject 3: 67
Enter marks for Subject 4: 78
Enter marks for Subject 5: 84
Enter Student 3's Name: ram
Enter marks for Subject 1: 66
Enter marks for Subject 2: 69
Enter marks for Subject 3: 51
Enter marks for Subject 4: 70
Enter marks for Subject 5: 62
Enter Student 4's Name: radha
Enter marks for Subject 1: 81
Enter marks for Subject 2: 82
Enter marks for Subject 3: 83
Enter marks for Subject 4: 84
Enter marks for Subject 5: 85
Enter Student 5's Name: Kishan
Enter marks for Subject 1: 90
Enter marks for Subject 2: 91
Enter marks for Subject 3: 92
Enter marks for Subject 4: 93
Enter marks for Subject 5: 94
Enter Student 6's Name: krishna
Enter marks for Subject 1: 71
Enter marks for Subject 2: 82
Enter marks for Subject 3: 75
Enter marks for Subject 4: 87
Enter marks for Subject 5: 95
Enter Student 7's Name: gopal
Enter marks for Subject 1: 78
Enter marks for Subject 2: 79
Enter marks for Subject 3: 80
Enter marks for Subject 4: 81
Enter marks for Subject 5: 82
Enter Student 8's Name: gopi
Enter marks for Subject 1: 89
Enter marks for Subject 2: 90
Enter marks for Subject 3: 72
Enter marks for Subject 4: 73
Enter marks for Subject 5: 74
Enter Student 9's Name: siya
Enter marks for Subject 1: 86
Enter marks for Subject 2: 88
Enter marks for Subject 3: 80
Enter marks for Subject 4: 81
Enter marks for Subject 5: 82
Enter Student 10's Name: shiv
Enter marks for Subject 1: 95
Enter marks for Subject 2: 96
Enter marks for Subject 3: 97
Enter marks for Subject 4: 98
Enter marks for Subject 5: 99

# Dump table into csv file "result.csv".

In [3]:
with open('result.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Student ID', 'Student Name', 'Subject 1','Subject 2', 'Subject 3', 'Subject 4', 'Subject 5', 'Total Marks','Grade'])
    writer.writerows(result_table)

# Read result.csv file and Print Total Marks and Grade of each student. Also Append Total Marks and Grade column into result.csv file.

In [4]:
with open('result.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Skip header row
    for row in reader:
        student_id, student_name, *subject_marks, total_marks, grade = row
        print(f"Student ID: {student_id}, Student Name:{student_name}, Total Marks: {total_marks}, Grade: {grade}")

Student ID: 1, Student Name:om, Total Marks: 379, Grade: B
Student ID: 2, Student Name:sai, Total Marks: 384, Grade: B
Student ID: 3, Student Name:ram, Total Marks: 318, Grade: C
Student ID: 4, Student Name:radha, Total Marks: 415, Grade: A
Student ID: 5, Student Name:Kishan, Total Marks: 460, Grade: A+
Student ID: 6, Student Name:krishna, Total Marks: 410, Grade: A
Student ID: 7, Student Name:gopal, Total Marks: 400, Grade: A
Student ID: 8, Student Name:gopi, Total Marks: 398, Grade: B
Student ID: 9, Student Name:siya, Total Marks: 417, Grade: A
Student ID: 10, Student Name:shiv, Total Marks: 485, Grade: A+

# List out Top 3 Student id and name with its percentage.

In [5]:
results = sorted(result_table, key=lambda x: x[-2],reverse=True)  # Sort by total marks
print("\nTop 3 Students are:")
for i in range(3):
    student_id, student_name, *_, total_marks, grade = results[i]
    per = (int(total_marks) / 500) * 100
    print(f"Student ID: {student_id}, Student Name: {student_name},Percentage: {per}%")

Top 3 Students are:
Student ID: 10, Student Name: shiv,Percentage: 97.0%
Student ID: 5, Student Name: Kishan,Percentage: 92.0%
Student ID: 9, Student Name: siya,Percentage: 83.39999999999999%

#  Read Python.txt file and Print it in Reverse.

In [12]:
with open('C:\\22bca64\\python\\python.txt', 'r') as file:
    content = file.read()
    reversed_content = content[::-1]  # Reverse the content
    print(reversed_content)

.segaugnal gnimmargorp ralupop tsom eht fo eno s'ti woN .yldipar gniworg si nohtyP fo ytiralupop ehT
.segaugnal gnimmargorp eht fo tsom naht edoc fo senil rewef ni smargorp etirw ot uoy swolla nohtyP
.no os dna ,tnempoleved noitacilppa dipar ,ecneics atad ,snoitacilppa bew gnipoleved rof desu s'tI .snoitacilppa fo tol a sah nohtyP
.elbadaer yrev si edoc dna ysae si xatnys stI .nrael ot ysae si nohtyP
?nohtyP nraeL yhW
.srennigeb rof nrael ot egaugnal taerg a nohtyP sekam sihT
 .xatnys esu-ot-ysae ,elpmis a sah nohtyP ,srennigeb rof yletanutroF
 .sdleif rehto ynam dna ,snoitacilppa potksed ,tnempoleved bew ,gninrael enihcam ni desu si tI
.1991 ni desaeler dna ,mussoR nav odiuG yb detaerc saw tI
.egaugnal gnimmargorp esoprup-lareneg ralupop a si nohtyP

# Read Python.txt file and Print total number of lines and words in it.

In [13]:
with open('C:\\22bca64\\python\\python.txt', 'r') as file:
    lines = file.readlines()
    tol_num_lines = len(lines)
    words = content.split()
    tol_num_words = len(words)
    
    print(f"Total number of lines: {tol_num_lines}")
    print(f"Total number of words: {tol_num_words}")

Total number of lines: 10
Total number of words: 121

#  Read Python.txt file and Print unique word with its count.

In [14]:
with open('C:\\22bca64\\python\\python.txt', 'r') as file:
    content = file.read()
    words = content.split()
    word_count = {}
    
    for word in words:
        word_count[word] = word_count.get(word, 0) + 1
    
    for word, count in word_count.items():
        print(f"{word}: {count}")

Python: 7
is: 6
a: 4
popular: 2
general-purpose: 1
programming: 3
language.: 1
It: 2
was: 1
created: 1
by: 1
Guido: 1
van: 1
Rossum,: 1
and: 4
released: 1
in: 3
1991.: 1
used: 2
machine: 1
learning,: 1
web: 2
development,: 2
desktop: 1
applications,: 2
many: 1
other: 1
fields.: 1
Fortunately: 1
for: 3
beginners,: 1
has: 2
simple,: 1
easy-to-use: 1
syntax.: 1
This: 1
makes: 1
great: 1
language: 1
to: 3
learn: 1
beginners.: 1
Why: 1
Learn: 1
Python?: 1
easy: 2
learn.: 1
Its: 1
syntax: 1
code: 2
very: 1
readable.: 1
lot: 1
of: 5
applications.: 1
It's: 1
developing: 1
data: 1
science,: 1
rapid: 1
application: 1
so: 1
on.: 1
allows: 1
you: 1
write: 1
programs: 1
fewer: 1
lines: 1
than: 1
most: 2
the: 2
languages.: 2
The: 1
popularity: 1
growing: 1
rapidly.: 1
Now: 1
it's: 1
one: 1

# Read Python.txt file and Print largest and smallest word from it.

In [15]:
with open('C:\\22bca64\\python\\python.txt', 'r') as file:
    content = file.read()
    words = content.split()
    
    if words:
        smallest_word = min(words, key=len)
        largest_word = max(words, key=len)
        print(f"Smallest word: {smallest_word}")
        print(f"Largest word: {largest_word}")
    else:
        print("No words found in the file.")

Smallest word: a
Largest word: general-purpose

#  Read Python.txt file. Convert it into upper case and write into another file "Python_Upper.txt"

In [18]:
with open('C:\\22bca64\\python\\python.txt', 'r') as f, open('Python_Upper.txt', 'w') as new_file:
    content = f.read()
    upper_case = content.upper()  # Convert to upper case
    new_file.write(upper_case)
    
print("File 'Python.txt' converted to upper case and saved as 'Python_Upper.txt'.")

File 'Python.txt' converted to upper case and saved as 'Python_Upper.txt'.